<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Khai báo iisnode -->
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Xử lý URL -->
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        <rule name="DynamicContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="app.js"/>
        </rule>
      </rules>
    </rewrite>

    <!-- Log lỗi iisnode -->
    <iisnode 
        loggingEnabled="true" 
        devErrorsEnabled="true"
        node_env="development"
    />
  </system.webServer>
</configuration>
